<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Itim&family=Kalnia+Glaze&family=Kranky&family=EB+Garamond&family=Poiret+One&family=Megrim&family=Train+One&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <title>Novelist</title>
    <style>
        body, html {
            font-family: Arial, sans-serif;
            line-height: 1.2;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: white;
            color: black;
            padding: 0px 0;
            z-index: 1000;
            text-align: center;
            width: 100%%;
        }

        @media (max-width: 768px) {
            .header {
                padding: 0px 0;
            }

            .name {
                font-size: 30px;
            }

            .nav a {
                font-size: 18px;
            }
        }

        .henny-penny-regular {
          font-family: "Henny Penny", system-ui;
          font-weight: 400;
          font-style: normal;
        }

        .itim-regular {
          font-family: "Itim", cursive;
          font-weight: 400;
          font-style: normal;
        }

        .kalnia-glaze {
          font-family: "Kalnia Glaze", serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          font-variation-settings:
            "wdth" 100;
        }

        .megrim-regular {
          font-family: "Megrim", system-ui;
          font-weight: 400;
          font-style: normal;
        }

        .zen-tokyo-zoo-regular {
          font-family: "Zen Tokyo Zoo", system-ui;
          font-weight: 400;
          font-style: normal;
        }

        .kranky-regular {
          font-family: "Kranky", serif;
          font-weight: 400;
          font-style: normal;
        }

        .train-one-regular {
          font-family: "Train One", system-ui;
          font-weight: 400;
          font-style: normal;
        }

        .logo {
          max-width: 100px;
          max-height: 100px;
          padding: 40px 0px;
          margin: 0 auto;
          position: relative;
        }

        .logo img {
            width: 80px;
            height: 80px;
            display: block;
            margin: 0 auto;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .logo img.gif {
            width: 150px;
            height: 150px;
            opacity: 0;
            top: -45px;
            left: -35px; 
        }

        @media (max-width: 768px) {
            .logo {
                max-width: 80px;
                max-height: 80px;
                padding: 40px 0;
            }
            .logo img {
                width: 80px;
                height: 80px;
            }
        }

        .logo:hover img.jpg {
            opacity: 0;
        }

        .logo:hover img.gif {
            opacity: 1;
        }

        .name {
            font-size: 40px;
            font-size: clamp(22px, 3vw, 40px);
            font-weight: bold;
            font-family: "Henny Penny", system-ui;
            padding: 5px 10px;
        }

        .poiret-one-regular {
          font-family: "Poiret One", sans-serif;
          font-weight: 400;
          font-style: normal;
        }

        .nav {
            display: flex;
            justify-content: center;
            background-color: #444;
            padding: 5px 0;
            font-family: "Poiret One", sans-serif;
            font-weight: 100;
        }

        .nav a {
            color: white;
            text-decoration: none;
            padding: 6px 10px;
            font-size: 24px;
            transition: background-color 0.3s;
            font-weight: 100;
            margin-right: 40px;
            margin-left: 40px;
        }

        .nav a:hover {
            background-color: #555;
        }

        @media (max-width: 768px) {
            .nav {
                align-items: center;
            }

            .nav a {
                font-size: clamp(12px, 5vw, 20px);
                margin-right: 0;
                margin-left: 0;
                padding: 10px;
            }
        }

        .content {
            padding-top: 0px;
        }

        section {
          padding: 50px;
          margin-bottom: 20px;
          padding-top: 300px;
        }

        @media (max-width: 768px)
        section {
            padding: 20px;
            padding-top: 50px;
        }

        section h2 {
            margin-bottom: 20px;
            text-shadow: none;
            font-family: "Poiret One", sans-serif;
        }

        hr {
            border: 2;
            border-top: 2px solid gray;
            margin-top: 20px;
            margin-bottom: 20px;
            color: black;
        }

        #home {
          background-image: url('<%= asset_path("bakery_copy.png") %>');
          background-size: cover;
          background-position: center center;
          height: 60vh;
          color: white;
          background-color: black;
        }

        #books {
          color: black;
          font-family: "EB Garamond", Serif;
          font-size: clamp(16px, 2vw, 28px);
        }
        
        #about {
          color: black;
          font-family: "EB Garamond", Serif;
          font-size: clamp(16px, 2vw, 28px);
          margin-top: -300px;
        }

        #contact {
          color: blue;
          font-size: clamp(16px, 2vw, 28px);
          margin-top: -300px;
          margin-bottom: -400px;
        }

        .small-image {
          max-width: 200px;
          height: auto;
          float: right;
          margin: 20px;
        }

        .small-image-2 {
          max-width: 200px;
          height: auto;
          float: left;
          margin: 20px;
        }

        @media (max-width: 500px) {
            .small-image, .small-image-2 {
                max-width: clamp(30%, 95%, 95%);
            }
        }

        .contact-form {
          margin: 0px 200px;
          background-color: #f9fbff;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          text-align: center;
        }

        .contact-form h2 {
          font-family: "Poiret One", sans-serif;
          color: #1e1e58;
          margin-bottom: 20px;
        }

        .form-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }

        .input {
          width: 48%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f0f4ff;
          font-size: 16px;
          font-family: "Poiret One", sans-serif;
        }

        .input.wide-input {
          width: 100%%;
        }

        .textarea {
          height: 80px;
          resize: none;
        }

        .submit-button {
          background-color: #1e1e58;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
        }

        .submit-button:hover {
          background-color: #3145a1;
        }

        .success-message {
          font-family: Arial, sans-serif;
          color: #27ae60;
          margin-top: 10px;
          font-size: 14px;
        }

        .flash {
          padding: 10px;
          margin-top: 20px;
          border-radius: 5px;
          font-weight: bold;
        }

        .flash.notice {
          background-color: #d4edda;
          color: #155724;
        }

        .flash.alert {
          background-color: #f8d7da;
          color: #721c24;
        }

        .error-message {
          color: red;
          background-color: #f8d7da;
          border: 1px solid #f5c6cb;
          padding: 10px;
          margin-top: 5px;
          border-radius: 4px;
          font-size: 14px;
        }

        blockquote {
          background-color: #f1f5f8ff;
          border-left: 5px solid #cbd5e1;
          padding: 1rem 1.25rem;
          border-radius: 4px;
        }

        details {
          margin: 1rem 0;
        }

        summary {
          cursor: pointer;
          font-size: 2rem;
          font-weight: 900;
        }

        summary::marker {
          color: #555;
        }

        .book-box {
          border: 2px solid #ccc;      /* box border */
          border-radius: 8px;          /* rounded corners */
          padding: 1rem;               /* spacing inside the box */
          background-color: #f9f9f9;   /* light gray background */
          margin: 1rem 0;              /* spacing outside the box */
          box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* optional shadow */
          min-height: 100px;
        }

    </style>
</head>

<body>
  <div class="header">
    <div class="logo">
      <%= image_tag 'hank.jpg', alt: 'logo', class: 'logo-img jpg' %>
      <%= image_tag 'hank.gif', alt: 'logo animated', class: 'logo-img gif' %>
    </div>
    <div class="name">
        Nathan Lee Trautenberg
    </div>
    <div class="nav">
      <a href="#home">Home</a>
      <a href="#books">Books</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
  </div>

  <div class="content">
    <section id="home">
        <p style="margin-top: 62vh; color: black; font-size: clamp(10px, 2vw, 12px); background-color: rgba(235, 245, 245, 0.4); display: inline-block;">
        Image generated by ImagineAI</p>
        <h2 style="margin-top: 30px; font-style: italic; color: black; font-size: clamp(16px, 2vw, 28px); background-color: rgba(229, 245, 245, 0.2); padding: 10px">
        He could see the spaceship vividly, along with the twelve gray aliens walking single file towards the bakery.
        The door opened, and their smiling faces and bright souls paraded on in.
        Rosaline had a mop on stand-by for the inevitable goo puddles, those little pools of happiness.
        </h2>
        <h2 style="color: black; font-size: clamp(16px, 2vw, 28px); text-shadow: 2px 2px 4px red; padding: 10px;">- BAKER'S DOZEN by Nathan Lee Trautenberg</h2>
    </section>
    <section id="books">
        <hr>
        <h2>Books</h2>

        <%#<details open class="book-box">
        <summary><strong>BAKER'S DOZEN</strong>%>
        <%= image_tag 'BDcoverEli.jpg', class: 'small-image' %>
        <%#</summary>%>

        <p>Entomology meets extraterrestrials in BAKER’S DOZEN, a darkly comedic satire about a man who aspires to do the right thing, even if it means letting others down.
        <br><br>
        <blockquote>When twelve goo-dripping aliens land in DC and become addicted to muffins, Eugene’s life begins to change in extraordinary ways.
        <br><br>
        
        Eugene Schumaker, a train and oil CEO and amateur entomologist, is fascinated by the aliens and studies them as if they were bugs in his display case, hoping to become the world’s first alienologist.
        His corporate rivals, however, see Eugene’s interest in the aliens as a cause for alarm.
        Believing he plans to steal the aliens’ technology to dominate the freight market, they resort to sabotage and extortion to weaken their rival.
        <br><br>
        
        Eugene teams up with his friends—renowned baker Rosaline Browning and disaffected marketing director Winston Perry—to protect their livelihoods and the aliens from the deep-pocketed villains.
        However, they soon become pawns in a high-stakes game between companies as secrets are stolen and businesses are reduced to rubble.
        Eugene, disgusted by the job he never wanted, realizes his path to happiness lies in destroying his business before it destroys him.</blockquote>

        <br><br>
        My first novel, BAKER'S DOZEN, is currently available on <%= link_to "Amazon", "https://www.amazon.com/dp/B0GBV8DS39/ref=tmm_pap_swatch_0?_encoding=UTF8&dib_tag=se&dib=eyJ2IjoiMSJ9.Iw_8qSblsK34HZ9pgPeAsQ.FwNB5tjSBrkzDliRztNpkyelijd0kiXJOHg_puntEFU&qid=1766426552&sr=8-1" %> and at your local bookstore.
        <br><br>
        BAKER'S DOZEN's target audience are adults who enjoy dark humor, satire, and hints of magical realism.
        The story is told in third person limited from multiple characters' points of view, and although a satire at heart, reads like an espionage thriller.
        The books that inspired my writing are <i>Sirens of Titan</i>, <i>Catch-22</i>, and <i>The Masquerade of the Red Death Trilogy</i>.
        </p>

        <%#</details>%>
    </section>
    <section id="about">
        <hr>
        <h2>About</h2>
        <%= image_tag 'wp.jpg', class: 'small-image-2' %>
        <p>I began writing my first novel, BAKER'S DOZEN, at the age of 23.
          It was published ten and a half years later.
          <br><br>
          I'm currently working on my next project: a two-part fantasy novel about time-manipulating dragons.
          <br><br>
          I studied philosophy, portuguese, and science at Northwestern University, where I graduated a Brady Scholar in Ethics and Civic Life. 
          My propensity for these subjects bleeds through my pen and colors my prose.
          Although I write speculative fiction, the themes in my stories are forever pertinent to real life.
          Sometimes the best answers to philosophical questions live within a wonderful tale of whimsy.
          Of course, that assumes there are answers to fantastic questions such as, "what the heck am I doing here?"
          Maybe it can be answered with a simple shrug, or maybe there is no answer, or maybe it takes a fun journey to figure it out.
          <br><br>
          When I'm not writing I enjoy working out, surfing, skiing, fishing, and playing tennis.
          I love professional sports and I'm a big Avs fan.
          I like watching football, and have two teams--the Broncos and the Eagles.
          Like most NFL fans, I always root for the Cowboys to lose.
          I also enjoy cooking, spending time with my girlfriend, and petting Hank the Tank (featured at the top of this webpage).
        </p>
    </section>
    <section id="contact">
        <hr>
        <h2>Contact</h2>
        <p style="color: blue; font-family: 'Poiret One', sans-serif; font-size: 24px; display: inline-block;">Get in Touch</p>

        <% if flash[:alert] %>
          <div class="flash alert" style="color: red; margin-bottom: 10px;">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% if flash[:notice] %>
        <div class="flash notice" style="color: green; margin-bottom: 10px;">
          <%= flash[:notice] %>
        </div>
        <% end %>
        
      <form action="https://api.web3forms.com/submit" method="POST" class="form" id="contact-form">
        <input type="hidden" name="access_key" value="698564ea-9ed4-4a5e-9b65-976ec7e5826e">

        <div class="form-row">
          <input type="text" name="first_name" placeholder="First Name" class="input" required>
          <input type="text" name="last_name" placeholder="Last Name" class="input" required>
        </div>

        <div class="form-row">
          <input type="email" name="email" placeholder="Email" class="input" required>
        </div>

        <div class="form-row">
          <textarea name="message" placeholder="Type your message here" class="input textarea" required></textarea>
        </div>

        <div class="h-captcha" data-captcha="true"></div>

        <div class="form-row">
          <button type="submit" class="submit-button">Submit</button>
        </div>
      </form>
      
      <p style="color: black; font-family: 'Kalnia Glaze', serif; font-size: 16px; display: inline-block; width: 100%; text-align: center;">
        Website created by Nathan Lee Trautenberg using Ruby on Rails.
      </p>
    </section>
  </div>

  <script src="https://web3forms.com/client/script.js" async defer>
  </script>
  
  <script>
  document.getElementById("contact-form").addEventListener("submit", async function (e) {
    e.preventDefault();

    const form = e.target;
    const status = document.createElement("div");
    status.id = "form-status";
    status.style.marginTop = "15px";

    // Remove old status messages if any
    const oldStatus = document.getElementById("form-status");
    if (oldStatus) oldStatus.remove();

    form.appendChild(status);

    status.innerHTML = "Sending...";

    try {
      const response = await fetch("https://api.web3forms.com/submit", {
        method: "POST",
        body: new FormData(form),
      });

      const result = await response.json();

      if (result.success) {
        status.innerHTML = `<span style="color: green;">✅ Thank you! Your message has been sent.</span>`;
        form.reset();
      } else {
        status.innerHTML = `<span style="color: red;">❌ Error: ${result.message || "Something went wrong."}</span>`;
      }
    } catch (error) {
      status.innerHTML = `<span style="color: red;">❌ Error: ${error.message}</span>`;
    }
  });
</script>
</body>
</html>